<app-nav></app-nav>
<div class="container-fluid">
  <form>
    <input type="text" placeholder="Search GitHub User" id="search-bar" [(ngModel)]="username" name="username" (keyup)="getUsers()">
  </form>
  <div class="panel panel-default">
    <div *ngIf="profile">
      <div>
        <div class="containerd">
          <div class="row justify-content-center ">
            <div class="col-md-4">
              <div class="card">
                <h4 appHighlight class="card-title"><strong>{{profile.name}}</strong></h4>
                <div class="card-body">
                  <img class="card-img-top" src="{{profile.avatar_url}}" alt="Card image cap">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttz">
          <span class=" btn btn-info sp label-default">Followers {{profile.followers}}</span>
          <span class="btn btn-success sp label-primary">Following {{profile.following}}</span>
          <span class="btn btn-secondary sp label-info">Public Repos {{profile.public_repos}}</span>
          <span><a class="btn btn-primary" target="" routerLink=" {{profile.url}} "><i class="fas fa-external-link-alt"></i>
              GitHub</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="   row panel-default">
    <div *ngFor="let repo of repos" class="col-md-4  text-center">
      <div class="dimps">
        <h3 class=" label card-title">Repository</h3>
        <div class="panel-heading">
          <h2><strong>{{repo.name}}</strong></h2>
        </div>
        <div class="panel-body">
          <p>{{repo.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <a class="bt" routerLink=""><i class="fas fa-step-forward"></i> Back Home</a>
</div>
