.container {
  width: 100%;
  min-height: 100vh;
  top: 20px;
  padding: 20px;
  color: #fff;
  background-color: #a00037;
}
.card-body{
  width: 100%;
}

.card-title {
  padding: 10px;
  height: 60px;
  text-align: center;
}

.buttz {
  margin-left: 10px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.containerd {
  margin-top: 20px;
  height: 410px;
}

card {
  width: 16rem;
}

.details {
  float: left;
  text-align: center;
  margin: 10px;
  padding: 10px;
  margin-left: 10%;
  margin-top: 50px;
}

input {
  width: 600px;
  margin-top: 100px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  margin-left: 30%;
  padding: 10px;
  height: 30px;
  background-color: #fff;
}

.bt {
  float: right;
  background-color: #282c32;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 8px 6px -6px black;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 270px;
  padding: 8px 15px;
  width: 150px;
}
h3{
  margin-top: 5px;
}
.label {
  text-align: center;
  background-color: darkgrey;
  font-size: 26px;
  font-weight: 700;
}
.dimps{
  background-color: #ddfff0;
  color: black;
  height: 200px;
  margin-top: 20px;
  box-shadow: 7px 6px 18px 0px rgba(0,0,0,0.59);
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 8px 6px -6px black;
  margin-left: 50px;
  padding: 8px 15px;
  width: 150px;
}
